<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Trust Payments Magento 1
 *
 * This Magento extension enables to process payments with Trust Payments (https://www.trustpayments.com//).
 *
 * @package TrustPayments_Payment
 * @author wallee AG (http://www.wallee.com/)
 * @license http://www.apache.org/licenses/LICENSE-2.0  Apache Software License (ASL 2.0)
 */
-->
<config>
	<modules>
		<TrustPayments_Payment>
			<version>1.1.5</version>
		</TrustPayments_Payment>
	</modules>
	<global>
		<models>
			<trustpayments_payment>
				<class>TrustPayments_Payment_Model</class>
				<resourceModel>trustpayments_payment_resource</resourceModel>
			</trustpayments_payment>
			<trustpayments_payment_resource>
				<class>TrustPayments_Payment_Model_Resource</class>
				<deprecatedNode>trustpayments_payment_mysql4</deprecatedNode>
				<entities>
					<transaction_info>
						<table>trustpayments_payment_transaction_info</table>
					</transaction_info>
					<token_info>
						<table>trustpayments_payment_token_info</table>
					</token_info>
					<payment_method_configuration>
						<table>trustpayments_payment_method_configuration</table>
					</payment_method_configuration>
					<refund_job>
						<table>trustpayments_payment_refund_job</table>
					</refund_job>
				</entities>
			</trustpayments_payment_resource>
		</models>
		<resources>
			<trustpayments_payment_setup>
				<setup>
					<module>TrustPayments_Payment</module>
				</setup>
			</trustpayments_payment_setup>
			<trustpayments_payment_read>
				<connection>
					<use>core_read</use>
				</connection>
			</trustpayments_payment_read>
			<trustpayments_payment_write>
				<connection>
					<use>core_write</use>
				</connection>
			</trustpayments_payment_write>
		</resources>
		<blocks>
			<trustpayments_payment>
				<class>TrustPayments_Payment_Block</class>
			</trustpayments_payment>
		</blocks>
		<helpers>
			<trustpayments_payment>
				<class>TrustPayments_Payment_Helper</class>
			</trustpayments_payment>
		</helpers>
		<events>
			<resource_get_tablename>
				<observers>
					<trustpayments_payment_get_tablename>
						<type>singleton</type>
						<class>trustpayments_payment/observer_core</class>
						<method>addAutoloader</method>
					</trustpayments_payment_get_tablename>
				</observers>
			</resource_get_tablename>
			<controller_front_init_before>
				<observers>
					<trustpayments_payment_front_init_before>
						<type>singleton</type>
						<class>trustpayments_payment/observer_core</class>
						<method>frontInitBefore</method>
					</trustpayments_payment_front_init_before>
				</observers>
			</controller_front_init_before>
			<adminhtml_init_system_config>
				<observers>
					<trustpayments_payment_init_system_config>
						<type>singleton</type>
						<class>trustpayments_payment/observer_core</class>
						<method>initSystemConfig</method>
					</trustpayments_payment_init_system_config>
				</observers>
			</adminhtml_init_system_config>
			<admin_system_config_changed_section_trustpayments_payment>
				<observers>
					<trustpayments_payment_config_changed>
						<type>singleton</type>
						<class>trustpayments_payment/observer_core</class>
						<method>configChanged</method>
					</trustpayments_payment_config_changed>
				</observers>
			</admin_system_config_changed_section_trustpayments_payment>
			<sales_order_invoice_cancel>
				<observers>
					<trustpayments_payment_cancel_invoice>
						<type>singleton</type>
						<class>trustpayments_payment/observer_payment</class>
						<method>cancelInvoice</method>
					</trustpayments_payment_cancel_invoice>
				</observers>
			</sales_order_invoice_cancel>
			<sales_order_invoice_register>
				<observers>
					<trustpayments_payment_invoice_register>
						<type>singleton</type>
						<class>trustpayments_payment/observer_payment</class>
						<method>registerInvoice</method>
					</trustpayments_payment_invoice_register>
				</observers>
			</sales_order_invoice_register>
			<sales_order_payment_capture>
				<observers>
					<trustpayments_payment_payment_capture>
						<type>singleton</type>
						<class>trustpayments_payment/observer_payment</class>
						<method>capturePayment</method>
					</trustpayments_payment_payment_capture>
				</observers>
			</sales_order_payment_capture>
			<sales_order_payment_cancel>
				<observers>
					<trustpayments_payment_payment_capture>
						<type>singleton</type>
						<class>trustpayments_payment/observer_payment</class>
						<method>cancelPayment</method>
					</trustpayments_payment_payment_capture>
				</observers>
			</sales_order_payment_cancel>
			<sales_quote_payment_import_data_before>
				<observers>
					<trustpayments_payment_payment_import_data_before>
						<type>singleton</type>
						<class>trustpayments_payment/observer_payment</class>
						<method>paymentImportDataBefore</method>
					</trustpayments_payment_payment_import_data_before>
				</observers>
			</sales_quote_payment_import_data_before>
			<sales_model_service_quote_submit_before>
				<observers>
					<trustpayments_payment_quote_submit_before>
						<type>singleton</type>
						<class>trustpayments_payment/observer_payment</class>
						<method>quoteSubmitBefore</method>
					</trustpayments_payment_quote_submit_before>
				</observers>
			</sales_model_service_quote_submit_before>
			<sales_model_service_quote_submit_success>
				<observers>
					<trustpayments_payment_quote_submit_success>
						<type>singleton</type>
						<class>trustpayments_payment/observer_payment</class>
						<method>quoteSubmitSuccess</method>
					</trustpayments_payment_quote_submit_success>
				</observers>
			</sales_model_service_quote_submit_success>
			<sales_convert_order_to_quote>
				<observers>
					<trustpayments_payment_convert_order_to_quote>
						<type>singleton</type>
						<class>trustpayments_payment/observer_payment</class>
						<method>convertOrderToQuote</method>
					</trustpayments_payment_convert_order_to_quote>
				</observers>
			</sales_convert_order_to_quote>

			<!-- Config synchronize events -->
			<trustpayments_payment_config_synchronize>
				<observers>
					<trustpayments_payment_synchronize_payment_method_configurations>
						<type>singleton</type>
						<class>trustpayments_payment/service_paymentMethodConfiguration</class>
						<method>synchronize</method>
					</trustpayments_payment_synchronize_payment_method_configurations>
					<trustpayments_payment_install_webhooks>
						<type>singleton</type>
						<class>trustpayments_payment/service_webhook</class>
						<method>install</method>
					</trustpayments_payment_install_webhooks>
					<trustpayments_payment_update_manual_tasks>
						<type>singleton</type>
						<class>trustpayments_payment/service_manualTask</class>
						<method>update</method>
					</trustpayments_payment_update_manual_tasks>
				</observers>
			</trustpayments_payment_config_synchronize>

			<!-- Webhook events -->
			<trustpayments_payment_webhook_deliveryindication>
				<observers>
					<trustpayments_payment_webhook_deliveryindication>
						<type>singleton</type>
						<class>trustpayments_payment/webhook_deliveryIndication</class>
						<method>listen</method>
					</trustpayments_payment_webhook_deliveryindication>
				</observers>
			</trustpayments_payment_webhook_deliveryindication>
			<trustpayments_payment_webhook_manualtask>
				<observers>
					<trustpayments_payment_webhook_manualtask>
						<type>singleton</type>
						<class>trustpayments_payment/webhook_manualTask</class>
						<method>listen</method>
					</trustpayments_payment_webhook_manualtask>
				</observers>
			</trustpayments_payment_webhook_manualtask>
			<trustpayments_payment_webhook_paymentmethodconfiguration>
				<observers>
					<trustpayments_payment_webhook_paymentmethodconfiguration>
						<type>singleton</type>
						<class>trustpayments_payment/webhook_paymentMethodConfiguration</class>
						<method>listen</method>
					</trustpayments_payment_webhook_paymentmethodconfiguration>
				</observers>
			</trustpayments_payment_webhook_paymentmethodconfiguration>
			<trustpayments_payment_webhook_refund>
				<observers>
					<trustpayments_payment_webhook_refund>
						<type>singleton</type>
						<class>trustpayments_payment/webhook_refund</class>
						<method>listen</method>
					</trustpayments_payment_webhook_refund>
				</observers>
			</trustpayments_payment_webhook_refund>
			<trustpayments_payment_webhook_transaction>
				<observers>
					<trustpayments_payment_webhook_transaction>
						<type>singleton</type>
						<class>trustpayments_payment/webhook_transaction</class>
						<method>listen</method>
					</trustpayments_payment_webhook_transaction>
				</observers>
			</trustpayments_payment_webhook_transaction>
			<trustpayments_payment_webhook_transactioncompletion>
				<observers>
					<trustpayments_payment_webhook_transactioncompletion>
						<type>singleton</type>
						<class>trustpayments_payment/webhook_transactionCompletion</class>
						<method>listen</method>
					</trustpayments_payment_webhook_transactioncompletion>
				</observers>
			</trustpayments_payment_webhook_transactioncompletion>
			<trustpayments_payment_webhook_transactioninvoice>
				<observers>
					<trustpayments_payment_webhook_transactioninvoice>
						<type>singleton</type>
						<class>trustpayments_payment/webhook_transactionInvoice</class>
						<method>listen</method>
					</trustpayments_payment_webhook_transactioninvoice>
				</observers>
			</trustpayments_payment_webhook_transactioninvoice>
			<trustpayments_payment_webhook_token>
				<observers>
					<trustpayments_payment_webhook_token>
						<type>singleton</type>
						<class>trustpayments_payment/webhook_token</class>
						<method>listen</method>
					</trustpayments_payment_webhook_token>
				</observers>
			</trustpayments_payment_webhook_token>
			<trustpayments_payment_webhook_tokenversion>
				<observers>
					<trustpayments_payment_webhook_tokenversion>
						<type>singleton</type>
						<class>trustpayments_payment/webhook_tokenVersion</class>
						<method>listen</method>
					</trustpayments_payment_webhook_tokenversion>
				</observers>
			</trustpayments_payment_webhook_tokenversion>
		</events>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<TrustPayments_Payment after="Mage_Adminhtml">TrustPayments_Payment</TrustPayments_Payment>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<TrustPayments_Payment>
					<files>
						<default>TrustPayments_Payment.csv</default>
					</files>
				</TrustPayments_Payment>
			</modules>
		</translate>
		<layout>
			<updates>
				<trustpayments_payment>
					<file>trustpayments_payment.xml</file>
				</trustpayments_payment>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<secure_url>
			<trustpayments_payment>/trustpayments</trustpayments_payment>
		</secure_url>
		<routers>
			<TrustPayments_Payment>
				<use>standard</use>
				<args>
					<module>TrustPayments_Payment</module>
					<frontName>trustpayments</frontName>
				</args>
			</TrustPayments_Payment>
		</routers>
		<translate>
			<modules>
				<TrustPayments_Payment>
					<files>
						<default>TrustPayments_Payment.csv</default>
					</files>
				</TrustPayments_Payment>
			</modules>
		</translate>
		<layout>
			<updates>
				<trustpayments_payment>
					<file>trustpayments_payment.xml</file>
				</trustpayments_payment>
			</updates>
		</layout>
	</frontend>
	<crontab>
		<jobs>
			<trustpayments_cron_refund_jobs>
				<schedule>
					<cron_expr>*/10 * * * *</cron_expr>
				</schedule>
				<run>
					<model>trustpayments_payment/observer_cron::processRefundJobs</model>
				</run>
			</trustpayments_cron_refund_jobs>
		</jobs>
	</crontab>
	<default>
		<trustpayments_payment>
			<information>
				<version>1.1.5</version>
				<sdk_version>2.1.5</sdk_version>
			</information>
			<general>
				<base_gateway_url>https://ep.trustpayments.com/</base_gateway_url>
				<manual_tasks>0</manual_tasks>
			</general>
			<email>
				<order>1</order>
			</email>
			<document>
				<customer_download_invoice>1</customer_download_invoice>
				<customer_download_packing_slip>1</customer_download_packing_slip>
			</document>
			<line_item>
				<overwrite_shipping_description>0</overwrite_shipping_description>
				<custom_shipping_description>Shipping</custom_shipping_description>
				<enforce_consistency>1</enforce_consistency>
			</line_item>
		</trustpayments_payment>
	</default>
</config>
